In [102]:
%pip install openpyxl pandas

Requirement already satisfied: openpyxl in c:\users\sara\documents\imsp\data science\exercice_data_science_adjaho_sara\env\lib\site-packages (3.1.5)
Requirement already satisfied: pandas in c:\users\sara\documents\imsp\data science\exercice_data_science_adjaho_sara\env\lib\site-packages (2.2.3)
Requirement already satisfied: et-xmlfile in c:\users\sara\documents\imsp\data science\exercice_data_science_adjaho_sara\env\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sara\documents\imsp\data science\exercice_data_science_adjaho_sara\env\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sara\documents\imsp\data science\exercice_data_science_adjaho_sara\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sara\documents\imsp\data science\exercice_data_science_adjaho_sara\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sara\documents\imsp\data science\exercice_data_science_adjaho_sara\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sara\documents\imsp\data science\exercice_data_science_adjaho_sara\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [113]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression

In [114]:
df = pd.read_excel('employes_dataset.xlsx', engine="openpyxl")

In [115]:
print(df.columns.tolist())

['ID', 'Nom', 'Prénom', 'Âge', 'Sexe', 'Email', 'Pays', 'Ville', 'Salaire (€)', "Date d'embauche", 'Département', 'Télétravail (%)', 'Performance (Note)']

In [116]:
new_data = df.dropna(subset= [lone for lone in df.columns if lone!="Télétravail (%)"])

In [117]:
df_manq= new_data[new_data["Télétravail (%)"].isna()]
df_compl=new_data[new_data["Télétravail (%)"].notna()]

In [108]:
df_compl["Date d'embauche"] = pd.to_datetime(df_compl["Date d'embauche"])
df_compl['year'] = df_compl["Date d'embauche"].dt.year
df_compl['month'] = df_compl["Date d'embauche"].dt.month
df_compl['day'] = df_compl["Date d'embauche"].dt.day
df_compl.drop(columns=["Date d'embauche"],axis=1, inplace=True)

C:\Users\SARA\AppData\Local\Temp\ipykernel_32056\3187482896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compl["Date d'embauche"] = pd.to_datetime(df_compl["Date d'embauche"])
C:\Users\SARA\AppData\Local\Temp\ipykernel_32056\3187482896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compl['year'] = df_compl["Date d'embauche"].dt.year
C:\Users\SARA\AppData\Local\Temp\ipykernel_32056\3187482896.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compl['month'] = df_compl["Date d'embauche"].dt.month
C:\Users\SARA\AppData\Local\Temp\ipykernel_32056\3187482896.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compl['day'] = df_compl["Date d'embauche"].dt.day
C:\Users\SARA\AppData\Local\Temp\ipykernel_32056\3187482896.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compl.drop(columns=["Date d'embauche"],axis=1, inplace=True)

In [109]:
#encodage
encoder = OneHotEncoder(sparse_output=False)
feactures_col = ['Nom', 'Prénom', 'Sexe', 'Email', 'Pays', 'Ville', 'Département']
encoded_categorielle = encoder.fit_transform(df_compl[feactures_col])
encoded_df = pd.DataFrame(encoded_categorielle, columns=encoder.get_feature_names_out(feactures_col))
encoded_df.index = df_compl.index
df_compl = pd.concat([df_compl, encoded_df], axis=1)
df_compl.drop(columns=feactures_col, axis=1, inplace=True)

In [110]:
X = df_compl.drop(columns=['Télétravail (%)'],axis=1)
y = df_compl['Télétravail (%)']

In [111]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [112]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test).round(2)

print("Predictions: ", y_pred[:10]) #affiche les 10 premières prédictions
#conversion en liste

print("y_test: ", list(y_test[:10]))

Predictions:  [20.51 50.87 50.66 70.5  53.72 32.18 45.57 37.78 48.25 55.65]
y_test:  [20.0, 20.0, 80.0, 0.0, 20.0, 80.0, 100.0, 100.0, 40.0, 60.0]

2-Avec des valeurs manquantes

In [118]:
df_manq

,ID,Nom,Prénom,Âge,Sexe,Email,Pays,Ville,Salaire (€),Date d'embauche,Département,Télétravail (%),Performance (Note)
7,8,Turner,Stephanie,37,Homme,uphillips@cohen.com,Palau,West Tiffany,25213.0,2024-06-07,Logistique,NaN,4.0
25,26,Garcia,Veronica,31,Homme,dunlaphector@yahoo.com,Korea,Douglasport,55990.0,2016-02-07,Logistique,NaN,2.0
55,56,Cantu,Christian,68,Femme,qthomas@herrera.com,Finland,Port Walterfort,72078.0,2019-08-11,Informatique,NaN,5.0
102,103,Sanchez,Leroy,39,Homme,justinpalmer@yahoo.com,Dominica,Zacharyport,49231.0,2022-07-08,RH,NaN,2.0
121,122,Myers,Julie,60,Femme,timothyhuang@guerrero.com,Tonga,East Shawn,72617.0,2018-04-15,Production,NaN,3.0
142,143,Garcia,Arthur,68,Femme,monicabishop@gmail.com,Serbia,Grahamfort,48403.0,2017-05-26,Logistique,NaN,3.0
145,146,Howard,Charles,59,Femme,qliu@watkins-nixon.com,Fiji,North Susan,35332.0,2020-10-06,Finance,NaN,2.0
150,151,Chambers,Erik,61,Homme,rhonda21@wright.com,Brazil,East Mark,56115.0,2022-01-24,Logistique,NaN,5.0
165,166,Howard,Vanessa,48,Femme,diane95@townsend.info,Bahrain,Lake Lisa,99473.0,2017-05-22,Finance,NaN,5.0
218,219,Swanson,Thomas,65,Homme,jessicacampbell@gomez.com,Qatar,New Devinview,116017.0,2016-04-18,RH,NaN,5.0
234,235,Garcia,Sonya,23,Homme,jasongonzalez@todd-rivera.com,French Guiana,Ryanhaven,110754.0,2020-10-02,Informatique,NaN,5.0
241,242,Callahan,George,28,Femme,wscott@taylor-robertson.info,Syrian Arab Republic,Housestad,113832.0,2015-09-21,RH,NaN,5.0
287,288,Murphy,Nicole,29,Femme,lguerra@nolan-phillips.com,Bangladesh,East Cherylhaven,77202.0,2021-03-06,Logistique,NaN,3.0
304,305,Villegas,Phillip,68,Homme,floresbrandi@oliver.info,Nicaragua,Martinmouth,88226.0,2023-11-03,Production,NaN,3.0
315,316,Richards,Sarah,55,Femme,roycindy@hotmail.com,Indonesia,Nelsonchester,79230.0,2016-01-28,Finance,NaN,5.0
321,322,Waters,James,39,Femme,hannah61@nelson-hernandez.com,Zimbabwe,Gregoryhaven,115098.0,2018-09-17,Finance,NaN,4.0
332,333,Clark,Michael,61,Homme,fclark@villa.com,China,Brianmouth,21901.0,2017-09-08,RH,NaN,1.0
337,338,Gonzalez,Raymond,64,Femme,allenkristin@hotmail.com,Burundi,Robertville,110410.0,2024-09-06,Production,NaN,2.0
342,343,Bird,Amy,50,Homme,marisapowell@baker-jackson.org,Denmark,Nathanmouth,92874.0,2022-06-15,Production,NaN,3.0
349,350,Morris,Michael,18,Homme,browndesiree@hotmail.com,Ethiopia,New Mary,118958.0,2019-05-12,Informatique,NaN,3.0
365,366,Aguilar,Tracey,26,Femme,perrymason@brock-james.com,Bhutan,Johnsonshire,38747.0,2024-11-05,Finance,NaN,4.0
380,381,Schmitt,Janet,38,Homme,alicia52@gmail.com,Luxembourg,West Angela,82667.0,2020-10-26,Finance,NaN,3.0
392,393,Nichols,Laura,33,Homme,nancyadams@yahoo.com,Equatorial Guinea,West Tracyton,61350.0,2024-03-25,Logistique,NaN,4.0
403,404,White,Sandra,45,Homme,heathconnie@hotmail.com,Egypt,Hallton,59287.0,2019-08-01,Finance,NaN,4.0
436,437,Dunn,Herbert,33,Homme,paul53@rosales.biz,Latvia,Port Annafurt,40615.0,2019-10-10,Marketing,NaN,2.0
441,442,Ibarra,Douglas,35,Homme,crodgers@hotmail.com,Madagascar,New Randychester,72015.0,2024-10-27,RH,NaN,1.0
477,478,Chan,Chris,66,Homme,cassiehutchinson@hotmail.com,Papua New Guinea,North Williamside,84590.0,2021-11-18,Production,NaN,1.0
498,499,Jones,Ryan,65,Homme,bmccarty@ryan-wilson.net,Lao People's Democratic Republic,Crystalberg,98529.0,2021-05-26,Production,NaN,4.0
503,504,Mccann,Michelle,67,Homme,frankbrad@gmail.com,Barbados,Smithmouth,42081.0,2017-01-11,Finance,NaN,4.0
530,531,Kaiser,Tracey,27,Femme,warnermichael@hotmail.com,Indonesia,East Maryville,20205.0,2017-09-15,Production,NaN,2.0
543,544,Anderson,Darren,56,Homme,pgonzalez@cohen.com,Comoros,New Scottside,42438.0,2022-12-06,Informatique,NaN,3.0
587,588,Evans,Spencer,53,Femme,joshuacowan@gutierrez-atkins.com,Cocos (Keeling) Islands,West Veronicaside,24430.0,2023-07-06,RH,NaN,2.0
608,609,King,Justin,33,Femme,camachotrevor@gmail.com,Denmark,North Whitney,91929.0,2017-06-19,Marketing,NaN,4.0
628,629,Walters,Peter,56,Homme,ryan69@jimenez.com,Namibia,Perryside,56210.0,2019-03-10,Logistique,NaN,3.0
646,647,Flores,Scott,47,Homme,marshalljennifer@hill.info,Kuwait,Ashleyhaven,105801.0,2018-05-30,RH,NaN,4.0
684,685,Lozano,Jared,63,Femme,pbrooks@hotmail.com,Rwanda,Sharonfurt,90388.0,2016-02-21,RH,NaN,3.0
710,711,Welch,William,32,Femme,madeline59@gmail.com,Namibia,East Micheleland,100323.0,2019-04-12,Logistique,NaN,2.0
719,720,Lewis,Matthew,68,Homme,jeremymalone@lang.com,Yemen,Wilkinsmouth,26144.0,2017-07-27,RH,NaN,5.0
736,737,Morris,Nicole,42,Homme,hsanders@yahoo.com,Ethiopia,Johnsonberg,87759.0,2018-09-14,RH,NaN,1.0
768,769,Alexander,Michael,66,Homme,james53@hotmail.com,Svalbard & Jan Mayen Islands,Kimberlybury,20945.0,2023-04-11,Informatique,NaN,1.0
795,796,Wright,Cheryl,20,Homme,wjimenez@hotmail.com,Sweden,Wagnermouth,106710.0,2019-10-03,Informatique,NaN,3.0
807,808,Leonard,Tiffany,30,Homme,gregory68@yahoo.com,Montenegro,Reevesborough,102503.0,2024-04-23,Informatique,NaN,3.0
872,873,Torres,John,68,Homme,terrykevin@bridges-williams.net,Indonesia,Martinfurt,89884.0,2021-04-20,Finance,NaN,2.0
878,879,Burton,Vanessa,27,Homme,bondgrace@yahoo.com,Panama,Lake Daniel,104829.0,2017-10-13,Finance,NaN,4.0
882,883,Valdez,Judy,61,Homme,tonya06@gmail.com,New Zealand,Parkerport,93643.0,2020-04-05,RH,NaN,3.0
887,888,Stafford,Gary,65,Homme,awatkins@yahoo.com,Jamaica,South Arthur,26824.0,2021-01-30,Finance,NaN,1.0
955,956,Powell,Rachel,32,Femme,john43@hotmail.com,New Zealand,Taylorton,56726.0,2022-02-08,Logistique,NaN,2.0
964,965,Parks,Brett,25,Femme,sarah97@hotmail.com,Niger,Ashleyland,111451.0,2020-12-03,Informatique,NaN,3.0
975,976,Willis,Sheila,32,Femme,lmorrison@hotmail.com,Cameroon,South Terriside,88844.0,2021-10-06,Marketing,NaN,3.0